<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>Time Saver</title>

	<link rel="icon" href="/images/fav.png">
	
	<!-- Bootstrap Core CSS -->
	<link href="/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom CSS -->
	<link href="/css/styles.css" rel="stylesheet">

	<!-- Morris Charts CSS -->
	<link href="/css/plugins/morris.css" rel="stylesheet">

	<!-- Custom Fonts -->
	<link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

</head>
<body>

	<div id="wrapper">
		<!-- Navigation -->
				<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
								<span class="sr-only">Toggle navigation</span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
							</button>
							<a class="navbar-brand" href="/"><img class="logo_bc" src="/images/logo_white.svg" alt="home"></a>
						</div>
						<!-- Top Menu Items -->
						<ul class="nav navbar-right top-nav">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{user.username}} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li role="presentation">
										<a href="/"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
									</li>
									{{#if user}}
										<li role="presentation">
											<a href="/users/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
										</li>
										<li>
											<a href="/users/profile/my_logs"><i class="fa fa-fw fa-envelope"></i> Moje zapisy</a>
										</li>
										<li class="divider"></li>
										<li role="presentation">
											<a href="/users/logout"><i class="fa fa-sign-out" aria-hidden="true"></i> Wyloguj się</a>
										</li>
									{{else}}
										<li role="presentation">
											<a href="/users/login"><i class="fa fa-sign-in" aria-hidden="true"></i> Zaloguj się</a>
										</li>
										<li class="divider"></li>
										<li role="presentation">
											<a href="/users/register"><i class="fa fa-registered" aria-hidden="true"></i> Rejestracja</a>
										</li>
									{{/if}}
								</ul>
							</li>
						</ul>
						<!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
						<div class="collapse navbar-collapse navbar-ex1-collapse">
							<ul class="nav navbar-nav side-nav">
								{{#unless user }}
									<li class="active">
										<a href="/"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
									</li>
								{{/unless}}
								{{#if user}}
									<li class="active">
										<a href="/users/profile"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
									</li>
									<li>
										<a href="/users/profile/my_logs"><i class="fa fa-fw fa-table"></i> Moje zapisy</a>
									</li>
									{{#ifEquals user.status "admin"}}
										<li>
											<a href="/users/profile/all_logs"><i class="fa fa-fw fa-table"></i> Wszystkie zapisy</a>
											<!-- <a href="javascript:;" data-toggle="collapse" data-target="#all_logs">
												<i class="fa fa-fw fa-arrows-v"></i> All logs <i class="fa fa-fw fa-caret-down"></i>
											</a>
											<ul id="all_logs" class="collapse">
												<li>
																				  			<a href="/users/profile/all_logs"><i class="fa fa-fw fa-table"></i> All Logs</a>
												</li>
												<li>
																				  			<a href="/users/profile/logs_by_month"><i class="fa fa-fw fa-table"></i> Logs By Month</a>
												</li>
											</ul> -->
										</li>
									  <li>
											<a href="javascript:;" data-toggle="collapse" data-target="#all_users">
												<i class="fa fa-users" aria-hidden="true"></i> Zapisy użytkowników <i class="fa fa-fw fa-caret-down"></i>
											</a>
											<ul id="all_users" class="collapse">
											  {{#each users }}
													<li>
											    	<a href="/users/profile/logs_by_user/{{this}}"><i class="fa fa-fw fa-user"></i> {{this}}</a>
													</li>
											  {{/each}}
											</ul>
										</li>
										<!-- <li>
											<a href="/settings"><i class="fa fa-fw fa-edit"></i> Settings</a>
										</li>
										<li>
											<a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
										</li> -->
									{{/ifEquals}}
								{{/if}}
							</ul>
						</div>
						<!-- /.navbar-collapse -->
				</nav>

		<div id="page-wrapper">

			<div class="container-fluid">
					 
				<div class="row">
					<div class="col-lg-12">
						{{#if success_msg}}
							<div class="alert alert-success">{{success_msg}}</div>
						{{/if}}

						{{#if error_msg}}
							<div class="alert alert-danger">{{error_msg}}</div>
						{{/if}}

						{{#if error}}
							<div class="alert alert-danger">{{error}}</div>
						{{/if}}

						{{{body}}}
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->

		</div>
		<!-- /#page-wrapper -->
	
	</div>
	<!-- /#wrapper -->

	<!-- jQuery -->
	<script src="/js/jquery.js"></script>

	<!-- Bootstrap Core JavaScript -->
	<script src="/js/bootstrap.min.js"></script>

	<!-- Morris Charts JavaScript -->
	<script src="/js/plugins/morris/raphael.min.js"></script>
	<script src="/js/plugins/morris/morris.min.js"></script>
	<script src="/js/plugins/morris/morris-data.js"></script>
	
	<script src="/js/functions.js"></script>

</body>
</html>