<!-- Page Heading -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">{{ lang.logs }}</h1>
    <p>{{ lang.logs_desc }}</p>
    <ul class="nav">
      <li>
        <a href="/logs/add_log"><i class="fa fa-fw fa-plus"></i> {{ lang.add_log_title }}</a>
      </li>
      <li>
        <a href="/logs/edit_log"><i class="fa fa-fw fa-pencil-square"></i> {{ lang.edit_log_title }}</a>
      </li>
      <li>
        <a href="/logs/export_logs"><i class="fa fa-fw fa-download"></i> {{ lang.export_logs_title }}</a>
      </li>
    </ul>
  </div>
</div>
<!-- /.row -->
