{{#ifNotEquals time_start ""}}
	<div class="clock" id="clock_content">
		{{time_start}}
	</div>
{{/ifNotEquals}}

<!-- Page Heading -->
<div class="row tac">
  <div class="col-lg-10">
		<h1 class="page-header">{{ title }}</h1>
		<p>{{ desc }}</p>
  </div>
</div>
<!-- /.row -->

<div class="row tac">
  <div class="col-lg-10">
		<form method="post" action="/users/profile">
		  <div class="form-group hidden">
			<label>Status</label>
			<input type="text" class="form-control" readonly 
				   name="username" placeholder="Username" value="{{user.username}}">
		  </div>
  		
  		<button type="submit" class="btn spec-button btn-{{button_status}}">{{button_title}}</button>

		</form>
  </div>
</div>